:root {
  --primary-color: #37a000;
  --bg-inverse: #f9f9f9;
  --white-bg: #fff;
  --nav-links: #fff;
  --text-color: #656565;
  --white-text: #fff;
  --text-color-2: #222;
  --light-red: #f3756c;
  --orange: #e6a01e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color-2);
}

section {
  margin-bottom: 50px;
  font-family: "Gotham SSm", Montserrat, "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  /* background: red; */
  min-height: 100px;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  /* border: 1px solid #000; */
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
