.col-12 {
  width: calc(100% / 12 * 12);
  /* background: blue; */
}

.col-11 {
  width: calc(100% / 12 * 11);
  /* background: blue; */
}

.col-9 {
  width: calc(100% / 12 * 9);
  /* background: blue; */
}

.col-8 {
  width: calc(100% / 12 * 8);
  /* background: blue; */
}

.col-7 {
  width: calc(100% / 12 * 7);
  /* background: blue; */
}

.col-6 {
  width: calc(100% / 12 * 6);
  /* background: blue; */
}

.col-5 {
  width: calc(100% / 12 * 5);
  /* background: violet; */
}

.col-4 {
  width: calc(100% / 12 * 4);
  /* background: green; */
}

.col-3 {
  width: calc(100% / 12 * 3);
  /* background: yellow; */
}

.col-2 {
  width: calc(100% / 12 * 2);
  /* background: yellow; */
}

/* apply only to small screen devices */
@media (max-width: 576px) {
  /* .scope-side {
      display: block;
    } */
  .svg-container {
    order: 1;
  }

  .svg-description-outer-container {
    order: 2;
  }


  .col-skills {
    margin-left: 20px;
  }

  .heading-footer {
    margin-left: 10px;
  }

  .card-list-choosen {
    margin-left: 70px;
    
  }

  .navigation-links {
    display: none;
  }

  .second-hire-content{
    margin-right: 20px;
  }
}

/* apply only to small screen devices */
@media (max-width: 768px) {
  /* .scope-side {
        display: block;
      } */
  .svg-container {
    order: 1;
  }

  .svg-description-outer-container {
    order: 2;
  }

  .cr-left {
    order: 2;
    /* background: red; */
  }
  .iframe-wrapper {
    order: 1;
    margin-bottom: 10px;
  }
}

/* // Extra small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
    /* background: blue; */
  }

  .col-sm-11 {
    width: calc(100% / 12 * 11);
    /* background: blue; */
  }

  .col-sm-9 {
    width: calc(100% / 12 * 9);
    /* background: blue; */
  }

  .col-sm-8 {
    width: calc(100% / 12 * 8);
    /* background: blue; */
  }

  .col-sm-7 {
    width: calc(100% / 12 * 7);
    /* background: blue; */
  }

  .col-sm-6 {
    width: calc(100% / 12 * 6);
    /* background: blue; */
  }

  .col-sm-5 {
    width: calc(100% / 12 * 5);
    /* background: violet; */
  }

  .col-sm-4 {
    width: calc(100% / 12 * 4);
    /* background: green; */
  }

  .col-sm-3 {
    width: calc(100% / 12 * 3);
    /* background: yellow; */
  }

  .col-sm-2 {
    width: calc(100% / 12 * 2);
    /* background: yellow; */
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-md-12 {
    width: calc(100% / 12 * 12);
    /* background: blue; */
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
    /* background: blue; */
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
    /* background: blue; */
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
    /* background: blue; */
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
    /* background: blue; */
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
    /* background: blue; */
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
    /* background: violet; */
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
    /* background: green; */
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
    /* background: yellow; */
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
    /* background: yellow; */
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-lg-12 {
    width: calc(100% / 12 * 12);
    /* background: blue; */
  }

  .col-lg-11 {
    width: calc(100% / 12 * 11);
    /* background: blue; */
  }

  .col-lg-9 {
    width: calc(100% / 12 * 9);
    /* background: blue; */
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
    /* background: blue; */
  }

  .col-lg-7 {
    width: calc(100% / 12 * 7);
    /* background: blue; */
  }

  .col-lg-6 {
    width: calc(100% / 12 * 6);
    /* background: blue; */
  }

  .col-lg-5 {
    width: calc(100% / 12 * 5);
    /* background: violet; */
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
    /* background: green; */
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
    /* background: yellow; */
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2);
    /* background: yellow; */
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-xl-12 {
    width: calc(100% / 12 * 12);
    /* background: blue; */
  }

  .col-xl-11 {
    width: calc(100% / 12 * 11);
    /* background: blue; */
  }

  .col-xl-9 {
    width: calc(100% / 12 * 9);
    /* background: blue; */
  }

  .col-xl-8 {
    width: calc(100% / 12 * 8);
    /* background: blue; */
  }

  .col-xl-7 {
    width: calc(100% / 12 * 7);
    /* background: blue; */
  }

  .col-xl-6 {
    width: calc(100% / 12 * 6);
    /* background: blue; */
  }

  .col-xl-5 {
    width: calc(100% / 12 * 5);
    /* background: violet; */
  }

  .col-xl-4 {
    width: calc(100% / 12 * 4);
    /* background: green; */
  }

  .col-xl-3 {
    width: calc(100% / 12 * 3);
    /* background: yellow; */
  }

  .col-xl-2 {
    width: calc(100% / 12 * 2);
    /* background: yellow; */
  }
}
