* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  margin-bottom: 50px;
}

.container {
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  background: red;
  min-height: 100px;
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  border: 1px solid #000;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-12 {
  width: calc(100% / 12 * 12);
  background: blue;
}

.col-6 {
  width: calc(100% / 12 * 6);
  background: violet;
}

.col-4 {
  width: calc(100% / 12 * 4);
  background: green;
}

.col-3 {
  width: calc(100% / 12 * 3);
  background: yellow;
}

.col-2 {
  width: calc(100% / 12 * 2);
  background: yellow;
}

/* // Extra small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
    background: blue;
  }

  .col-sm-6 {
    width: calc(100% / 12 * 6);
    background: violet;
  }

  .col-sm-4 {
    width: calc(100% / 12 * 4);
    background: green;
  }

  .col-sm-3 {
    width: calc(100% / 12 * 3);
    background: yellow;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .col-md-12 {
    width: calc(100% / 12 * 12);
    background: blue;
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
    background: violet;
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
    background: green;
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
    background: yellow;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-lg-12 {
    width: calc(100% / 12 * 12);
    background: blue;
  }

  .col-lg-6 {
    width: calc(100% / 12 * 6);
    background: violet;
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
    background: green;
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
    background: yellow;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-xl-12 {
    width: calc(100% / 12 * 12);
    background: blue;
  }

  .col-xl-6 {
    width: calc(100% / 12 * 6);
    background: violet;
  }

  .col-xl-4 {
    width: calc(100% / 12 * 4);
    background: green;
  }

  .col-xl-3 {
    width: calc(100% / 12 * 3);
    background: yellow;
  }
}
